<form action="/cars" method="post">
  <label for="model">Add a new model</label>
  <input id="model" name="model" type="text">
  <label for="miles">Input existing miles</label>
  <input id="miles" name="miles" type="number">
  <label for="price">Input price</label>
  <input id="price" name="price" type="number">
  <button type="submit">Submit</button>
</form>